.d1 {
	background-image: url('../assets/images/bumps.svg');
}

.d2 {
	background-image: url('../assets/images/background-silver-grainy.svg');
}

.d3 {
	background-image: url('../assets/images/mock-poster.jpg');
}